[user]
	email = a.khssnv@gmail.com
	name = Alisher A. Khassanov
	signingkey = /home/khassanov/.ssh/id_ed25519.pub
[core]
	editor = code --wait
[gpg]
	format = ssh
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
	branches = "!git for-each-ref --sort=-authordate --format='%(authordate:iso8601) %(refname:short)' refs/heads/ | head -n 10"
	first = rev-list --short --max-parents=0 HEAD
	last = rev-parse --short HEAD
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
	insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[push]
	defaultForceWithLease = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
