#!/bin/sh
set -eu

# Called after the vendor script creates br0, usb0 and usb1.
current=$(ip -4 -o address show dev br0 | awk '{print $4}')
if [ "$current" != {{ (usb_address ~ '/28') | quote }} ]; then
    ip -4 address flush dev br0
    ip address add {{ (usb_address ~ '/28') | quote }} dev br0
    echo changed
fi
